/* CSS Document */
/* Padrões de Fontes no projeto
// Títulos: ;
// Citações: 
// Texto: 'Arial' ;
// Ordinal / químico: 'Calibri' ;
*/

/*👉 -------------- TÍTULOS --------------👈*/
@font-face {
    font-family: 'Open Sans';
    font-style: normal ;
    font-weight: 300 ;
    src: url(../fonts/OpenSans-Light.otf) format("opentype"),
        url(../fonts/OpenSans-Light.ttf) format("truetype"),
        url(../fonts/OpenSans-Light.woff2) format("woff2"),
        url(../fonts/OpenSans-Light.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic ;
    font-weight: 300 ;
    src: url(../fonts/OpenSans-LightItalic.otf) format("opentype"),
        url(../fonts/OpenSans-LightItalic.ttf) format("truetype"),
        url(../fonts/OpenSans-LightItalic.woff2) format("woff2"),
        url(../fonts/OpenSans-LightItalic.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal ;
    font-weight: 400 ;
    src: url(../fonts/OpenSans-Regular.otf) format("opentype"),
        url(../fonts/OpenSans-Regular.ttf) format("truetype"),
        url(../fonts/OpenSans-Regular.woff2) format("woff2"),
        url(../fonts/OpenSans-Regular.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic ;
    font-weight: 400 ;
    src: url(../fonts/OpenSans-Italic.otf) format("opentype"),
        url(../fonts/OpenSans-Italic.ttf) format("truetype"),
        url(../fonts/OpenSans-Italic.woff2) format("woff2"),
        url(../fonts/OpenSans-Italic.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal ;
    font-weight: 500 ;
    src: url(../fonts/OpenSans-Medium.otf) format("opentype"),
        url(../fonts/OpenSans-Medium.ttf) format("truetype"),
        url(../fonts/OpenSans-Medium.woff2) format("woff2"),
        url(../fonts/OpenSans-Medium.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic ;
    font-weight: 500 ;
    src: url(../fonts/OpenSans-MediumItalic.otf) format("opentype"),
        url(../fonts/OpenSans-MediumItalic.ttf) format("truetype"),
        url(../fonts/OpenSans-MediumItalic.woff2) format("woff2"),
        url(../fonts/OpenSans-MediumItalic.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight:600 ;
    src: url(../fonts/OpenSans-SemiBold.otf) format("opentype"),
    url(../fonts/OpenSans-SemiBold.ttf) format("truetype"),
    url(../fonts/OpenSans-SemiBold.woff2) format("woff2"),
    url(../fonts/OpenSans-SemiBold.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight:600 ;
    src: url(../fonts/OpenSans-SemiBoldItalic.otf) format("opentype"),
    url(../fonts/OpenSans-SemiBoldItalic.ttf) format("truetype"),
    url(../fonts/OpenSans-SemiBoldItalic.woff2) format("woff2"),
    url(../fonts/OpenSans-SemiBoldItalic.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight:700 ;
    src: url(../fonts/OpenSans-Bold.otf) format("opentype"),
    url(../fonts/OpenSans-Bold.ttf) format("truetype"),
    url(../fonts/OpenSans-Bold.woff2) format("woff2"),
    url(../fonts/OpenSans-Bold.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight:700 ;
    src: url(../fonts/OpenSans-BoldItalic.otf) format("opentype"),
    url(../fonts/OpenSans-BoldItalic.ttf) format("truetype"),
    url(../fonts/OpenSans-BoldItalic.woff2) format("woff2"),
    url(../fonts/OpenSans-BoldItalic.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight:800 ;
    src: url(../fonts/OpenSans-ExtraBold.otf) format("opentype"),
    url(../fonts/OpenSans-ExtraBold.ttf) format("truetype"),
    url(../fonts/OpenSans-ExtraBold.woff2) format("woff2"),
    url(../fonts/OpenSans-ExtraBold.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight:800 ;
    src: url(../fonts/OpenSans-ExtraBoldItalic.otf) format("opentype"),
    url(../fonts/OpenSans-ExtraBoldItalic.ttf) format("truetype"),
    url(../fonts/OpenSans-ExtraBoldItalic.woff2) format("woff2"),
    url(../fonts/OpenSans-ExtraBoldItalic.woff) format("woff");
    font-display: swap;
}

/*👉 -------------- CITAÇÕES --------------👈*/
@font-face {
    font-family: 'Merriweather';
    font-style:normal ;
    font-weight: 300 ;
    src: url(../fonts/Merriweather-Light.otf) format("opentype"),
        url(../fonts/Merriweather-Light.ttf) format("truetype"),
        url(../fonts/Merriweather-Light.woff2) format("woff2"),
        url(../fonts/Merriweather-Light.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Merriweather';
    font-style:italic ;
    font-weight:300 ;
    src: url(../fonts/Merriweather-LightItalic.otf) format("opentype"),
        url(../fonts/Merriweather-LightItalic.ttf) format("truetype"),
        url(../fonts/Merriweather-LightItalic.woff2) format("woff2"),
        url(../fonts/Merriweather-LightItalic.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Merriweather';
    font-style: normal ;
    font-weight: 400 ;
    src: url(../fonts/Merriweather-Regular.otf) format("opentype"),
        url(../fonts/Merriweather-Regular.ttf) format("truetype"),
        url(../fonts/Merriweather-Regular.woff2) format("woff2"),
        url(../fonts/Merriweather-Regular.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight:400 ;
    src: url(../fonts/Merriweather-Italic.otf) format("opentype"),
        url(../fonts/Merriweather-Italic.ttf) format("truetype"),
        url(../fonts/Merriweather-Italic.woff2) format("woff2"),
        url(../fonts/Merriweather-Italic.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight:700 ;
    src: url(../fonts/Merriweather-Bold.otf) format("opentype"),
        url(../fonts/Merriweather-Bold.ttf) format("truetype"),
        url(../fonts/Merriweather-Bold.woff2) format("woff2"),
        url(../fonts/Merriweather-Bold.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight:700 ;
    src: url(../fonts/Merriweather-BoldItalic.otf) format("opentype"),
        url(../fonts/Merriweather-BoldItalic.ttf) format("truetype"),
        url(../fonts/Merriweather-BoldItalic.woff2) format("woff2"),
        url(../fonts/Merriweather-BoldItalic.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight:900 ;
    src: url(../fonts/Merriweather-Black.otf) format("opentype"),
        url(../fonts/Merriweather-Black.ttf) format("truetype"),
        url(../fonts/Merriweather-Black.woff2) format("woff2"),
        url(../fonts/Merriweather-Black.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight:900 ;
    src: url(../fonts/Merriweather-BlackItalic.otf) format("opentype"),
        url(../fonts/Merriweather-BlackItalic.ttf) format("truetype"),
        url(../fonts/Merriweather-BlackItalic.woff2) format("woff2"),
        url(../fonts/Merriweather-BlackItalic.woff) format("woff");
    font-display: swap;
}


/*👉 -------------- TEXTO --------------👈*/
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight:100 ;
    src: 
        url(../fonts/WorkSans-Thin.woff2) format("woff2"),
        url(../fonts/WorkSans-Thin.woff) format("woff"),
        url(../fonts/WorkSans-Thin.otf) format("opentype"),
        url(../fonts/WorkSans-Thin.ttf) format("truetype");
        
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style: italic ;
    font-weight: 100;
    src: 
        url(../fonts/WorkSans-ThinItalic.woff2) format("woff2"),
        url(../fonts/WorkSans-ThinItalic.woff) format("woff"),
        url(../fonts/WorkSans-ThinItalic.otf) format("opentype"),
        url(../fonts/WorkSans-ThinItalic.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight:200 ;
    src: 
        url(../fonts/WorkSans-ExtraLight.woff2) format("woff2"),
        url(../fonts/WorkSans-ExtraLight.woff) format("woff"),
        url(../fonts/WorkSans-ExtraLight.otf) format("opentype"),
        url(../fonts/WorkSans-ExtraLight.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style: italic ;
    font-weight: 200;
    src: 
        url(../fonts/WorkSans-ExtraLightItalic.woff2) format("woff2"),
        url(../fonts/WorkSans-ExtraLightItalic.woff) format("woff"),
        url(../fonts/WorkSans-ExtraLightItalic.otf) format("opentype"),
        url(../fonts/WorkSans-ExtraLightItalic.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight:300 ;
    src: 
        url(../fonts/WorkSans-Light.woff2) format("woff2"),
        url(../fonts/WorkSans-Light.woff) format("woff"),
        url(../fonts/WorkSans-Light.otf) format("opentype"),
        url(../fonts/WorkSans-Light.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style: italic ;
    font-weight: 300;
    src: 
        url(../fonts/WorkSans-LightItalic.woff2) format("woff2"),
        url(../fonts/WorkSans-LightItalic.woff) format("woff"),
        url(../fonts/WorkSans-LightItalic.otf) format("opentype"),
        url(../fonts/WorkSans-LightItalic.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal ;
    font-weight: 400;
    src: 
        url(../fonts/WorkSans-Regular.woff2) format("woff2"),
        url(../fonts/WorkSans-Regular.woff) format("woff"),
        url(../fonts/WorkSans-Regular.otf) format("opentype"),
        url(../fonts/WorkSans-Regular.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 400;
    src: 
        url(../fonts/WorkSans-Italic.woff2) format("woff2"),
        url(../fonts/WorkSans-Italic.woff) format("woff"),
        url(../fonts/WorkSans-Italic.otf) format("opentype"),
        url(../fonts/WorkSans-Italic.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style:normal ;
    font-weight:500 ;
    src: 
        url(../fonts/WorkSans-Medium.woff2) format("woff2"),
        url(../fonts/WorkSans-Medium.woff) format("woff"),
        url(../fonts/WorkSans-Medium.otf) format("opentype"),
        url(../fonts/WorkSans-Medium.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style:italic ;
    font-weight: 500;
    src: 
        url(../fonts/WorkSans-MediumItalic.woff2) format("woff2"),
        url(../fonts/WorkSans-MediumItalic.woff) format("woff"),
        url(../fonts/WorkSans-MediumItalic.otf) format("opentype"),
        url(../fonts/WorkSans-MediumItalic.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style:normal ;
    font-weight: 600;
    src: 
        url(../fonts/WorkSans-SemiBold.woff2) format("woff2"),
        url(../fonts/WorkSans-SemiBold.woff) format("woff"),
        url(../fonts/WorkSans-SemiBold.otf) format("opentype"),
        url(../fonts/WorkSans-SemiBold.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 600;
    src: 
        url(../fonts/WorkSans-SemiBoldItalic.woff2) format("woff2"),
        url(../fonts/WorkSans-SemiBoldItalic.woff) format("woff"),
        url(../fonts/WorkSans-SemiBoldItalic.otf) format("opentype"),
        url(../fonts/WorkSans-SemiBoldItalic.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    src: 
        url(../fonts/WorkSans-Bold.woff2) format("woff2"),
        url(../fonts/WorkSans-Bold.woff) format("woff"),
        url(../fonts/WorkSans-Bold.otf) format("opentype"),
        url(../fonts/WorkSans-Bold.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 700;
    src: 
        url(../fonts/WorkSans-BoldItalic.woff2) format("woff2"),
        url(../fonts/WorkSans-BoldItalic.woff) format("woff"),
        url(../fonts/WorkSans-BoldItalic.otf) format("opentype"),
        url(../fonts/WorkSans-BoldItalic.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    src: 
        url(../fonts/WorkSans-ExtraBold.woff2) format("woff2"),
        url(../fonts/WorkSans-ExtraBold.woff) format("woff"),
        url(../fonts/WorkSans-ExtraBold.otf) format("opentype"),
        url(../fonts/WorkSans-ExtraBold.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 800;
    src: 
        url(../fonts/WorkSans-ExtraBoldItalic.woff2) format("woff2"),
        url(../fonts/WorkSans-ExtraBoldItalic.woff) format("woff"),
        url(../fonts/WorkSans-ExtraBoldItalic.otf) format("opentype"),
        url(../fonts/WorkSans-ExtraBoldItalic.ttf) format("truetype");
    font-display: swap;
}


@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 900;
    src: 
        url(../fonts/WorkSans-Black.woff2) format("woff2"),
        url(../fonts/WorkSans-Black.woff) format("woff"),
        url(../fonts/WorkSans-Black.otf) format("opentype"),
        url(../fonts/WorkSans-Black.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 900;
    src: 
        url(../fonts/WorkSans-BlackItalic.woff2) format("woff2"),
        url(../fonts/WorkSans-BlackItalic.woff) format("woff"),
        url(../fonts/WorkSans-BlackItalic.otf) format("opentype"),
        url(../fonts/WorkSans-BlackItalic.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 900;
    src: 
        
        url(../fonts/WorkSans-Black.woff2) format("woff2"),
        url(../fonts/WorkSans-Black.woff) format("woff"),
        url(../fonts/WorkSans-Black.otf) format("opentype"),
        url(../fonts/WorkSans-Black.ttf) format("truetype");
        font-display: swap;
}


/*👉 -------------- ORDINAL --------------👈*/



/*👉 -------------- QUIMICO --------------👈*/
@font-face {
    font-family: '';
    font-style: ;
    font-weight: ;
    src: url(../fonts/.otf) format("opentype"),
        url(../fonts/.ttf) format("truetype"),
        url(../fonts/.woff2) format("woff2"),
        url(../fonts/.woff) format("woff");
    font-display: swap;
}


:root {
    /* Fontes */
    --titulo: 'Open Sans' ;
    --citacao:'Merriweather' ;
    --texto: 'Work Sans';
    --ordinal:'Work Sans' ;
    --quimico:'Work Sans' ;
    --fonema: 'Work Sans';

    /* Tamanhos */
    --peso1: 1.8em;
    --peso2: 1.7em;
    --peso3: 1.6em;
    --peso4: 1.5em;
    --peso5: 1.4em;
    --peso6: 1.3em;
    --peso6: 1.2em;
    --peso7: 1.1em;
    --peso8: 0.9em;
    --pesoPadrao: 1em;
    --pesoMenor: 0.8em;
    --pesoIntermediario: 0.9em;

    /* Cores */
    --corprof: #8a014c;
    --preto_: #2B2E34;
    --preto:#000;
    --branco: #fff;
    --cinza: #d0d0cf;
    --cinzarecado: #ececec;
    --link: #00649c;
    --manualu: #E4F2E7;
    --apresentacao: #dff1fd;
    --recado: #ececec;

    
    --azul1:#4b76ba;
    --azul2:#7196ce;
    --azul3:#c8d9f1;
    --azul4:#dee9f8;

    --turquesa1:#003c3c;
    --turquesa2:#069197;
    --turquesa3:#96d1d4;
    --turquesa4:#e0f1f4;

    --verde1:#00a159;
    --verde2:#6eaa27;
    --verde3:#cce4ce;
    --verde4:#e2edcf;

    --citrico1:#94C23E;
    --citrico2:#D0DE84;
    --citrico3:#E4ECBC;
    --citrico4:#ECF3DA;

    --laranja1:#ec8e3b;
    --laranja2:#fcd7b8;
    --laranja3:#fdece4;
    --laranja4:#FDE7DD;

    --amarelo1:#f2e400;
    --amarelo2:#fbed66;
    --amarelo3:#fff9c7;
    --amarelo4:#FEEFDE;

    --vermelho1:#ac2d31;
    --vermelho2:#EDAAA0;
    --vermelho3:#fce3df;
    --vermelho4:#fff5f3;

    --rosa1:#ea5178;
    --rosa2:#f9d1d5;
    --rosa3:#F8C7D0;
    --rosa4:#FCE5E9;

    --roxo1:#470f50;
    --roxo2:#a61680;
    --roxo3:#e7d5ea;
    --roxo4:#f2e9f4;

    --lilas1:#6e358b;
    --lilas2:#7e5ca3;
    --lilas3:#c7c1e1;
    --lilas4:#e8e5f3;

    --mostarda: #e6e09b;

    --odsEscuro: #9c0f06;
    --ods: #e30513;
    --odsFundo: #fbd9d2;
   
    --odsFndAzul: #dff2fd;
   
    --estrategiaEscuro: #af2608;
    --estrategia: #ed7102;
    --estrategiaFundo:#fde1c6;
   
   
    --juventudesEscuro:#006f2c;
    --juventudes: #55a932;
    --juventudesFundo: #e1efe3;
   
    --midiaticaEscuro:#0056a4;
    --midiatica: #009ed4;
    --midiaticaFundo: #d4edfc;

    --manuFundo: #f8f5ea;
    --manuGravata:#ebc19d; 
    --manuVocabulario:#7e2c2a;
    --manuEsquema1:#26466d;
    --manuEsquema2:#aabad2;
    --manuEsquema3: #e9cb68;
}

.boxdegrade{
    width: 100px;
    height: 100px;
    margin: 1em 0;
}

.gradiente_a1 {
    background: linear-gradient(24deg,#94C23E, #7263A9);
}
.gradiente_a2 {
    background: linear-gradient(24deg,#D0DE84, #A69DCD);
}

.gradiente_b1 {
    background: linear-gradient(24deg,#87CDD3, #F7AE82);
}
.gradiente_b2 {
    background: linear-gradient(24deg,#BEE2E9, #FCD7B8);
}

.gradiente_c1 {
    background: linear-gradient(24deg,#FED27A, #F39DB0);
}
.gradiente_c2 {
    background: linear-gradient(24deg,#FFE6AC, #F8C7D0);
}

.gradiente_d1 {
    background: linear-gradient(24deg,#87CDD3, #A69DCD);
}
.gradiente_d2 {
    background: linear-gradient(24deg,#BEE2E9, #D2CDE8);
}


.gradiente_e1 {
    background: linear-gradient(24deg,#F39DB0, #86C2EB);
}
.gradiente_e2 {
    background: linear-gradient(24deg,#F8C7D0, #BCDCF5);
}


.gradiente_h1 {
    background: linear-gradient(24deg,#D0DE84, #9BCEA4, #87CDD3, #86C2EB);
}
.gradiente_h2 {
    background: linear-gradient(24deg,#E4ECBC, #BEE2E9, #BEE2E9, #BCDCF5);
}



